* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../file_00000000e744822fb5baca02add13fd7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
